[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=vagrant
Environment="DATABASE_URL={{ db_host }}"
WorkingDirectory=/home/vagrant/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target